/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Css start from Here */

.contenedor-background{
    position:relative;
    inline-label-width: 180px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.elementsleft{  
    /*Muevo la posición del texto arriba*/ 
    display: inline-block;
    font-size: 20px;
    line-height: 160%;
    color: #000;
    letter-spacing: 0.015625em;
    position:absolute;
    top:1%;
    left:0%;
    padding-left: 5%;
    display:flex; 
    gap: 10px;
    background-color: white;
    width:67%;
    height:30px;
}

.elementsright{
      /*Muevo la posición del texto arriba*/
      display: block;
      padding: 10px;
      position: relative;
      font-family: 'Poppins';
      font-size: .875rem;
      color: #000;
      letter-spacing: 0.015625em;
      font-weight: 500;

    position:absolute;
    top:1%;
    right:0%;
    padding-left: 10%;
    border-right: 0px;
     display:flex; 
    gap: 10px;
    background-color: white;
    width:34%;
    height:30px;
}

.second-line{
    display:flex; 
    align-items: center;
    gap: 30px;
    position:absolute;
    top:5%;
    background-color: white;
    width:100%;
    height:80px;
    padding-left: 20px;
}

.buscador{
    display:flex;
    background-color: #F2F2F2;
    width:900px;
    height: 40px;
    font-family: 'Fira Mono', 'Andale Mono', 'Consolas', monospace;
    font-size: 16px;
    align-items: center;
    gap:0px;
    border: 3px, solid;
    border-color: black;
    padding-left: 10px;
}

.search-packages{
    display:flex;
    color:#7F909F;
   width:180px;
    height:70px;
    
}

img{
    max-width:100%;
}

div.texton-image {
    display:flex; 
    flex-wrap: wrap;
    gap: 10px;
    position:absolute;
    top:20%;
    left:33%;
    width:33%;
    color:white;
}

.buttonblack button{
    background-color: #231f20;;
    color:white;
    font-weight: bold;
    font-size: .875rem;
    letter-spacing: 0.3px;
    outline-offset: 3px;
    font-family: 'Poppins';
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-style: none;
    border-width: 0;
}



.buttonyellow button{
background-color:yellow;
border-radius: 30%;
height: 250%;
width: 133%;
}

.buttonred button{
background-color:red;
color:white;
border-color: white;
border-radius: 30%;
height: 250%;
width: 133%;

}


h2{
    font-size: larger;
    text-align: center;
}

 .very-big-text{
font-size: 63px;
width: 736px;
height: 200px;
text-align: center;
margin-top: 53px;
margin-bottom:53px;
}

.centered {
    text-align: center;
}

.second-content{
    background-color:white;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left:33%;
    padding-right:34%;
    position:absolute;
    bottom:-70%;
    width:702px;
    height:415px;

}

.bubbles{
    display:flex;
    align-items: flex-start;
    background-color:white;
    padding-left:301px;
    padding-right:301px;
    padding-top: 20px;
    padding-bottom: 20px;
    width:351px;
}

h3{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.25;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width:512px;
    height:60px;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5;
    text-align: center;
    width:512px;
    height:144px;
}

.footer{
    display: flex;
    position:absolute;
    bottom: -145%;
    left:0%;
    right:0%;
    background-color: white;
    padding-left: 20px;
    gap:30px;

}

